@import 'reset-css';
@import 'normalize.css';

.navbar {
  padding: 10px

}

.login,
.links {
  display: flex; 
  gap: 10px; 
  justify-content: flex-end;
}

.header {
  display: flex
}

.left-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
