@import 'reset-css';
@import 'normalize.css';

.navbar {
  padding: 10px

}

.login,
.links {
  display: flex; 
  gap: 10px; 
  justify-content: flex-end;
}

.header {
  display: flex;
}

.LeftHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

.ThreeColumns {
  border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.ThreeColumns__ColumnContainer {
  border: 5px solid green;
  flex-basis: 33%;
}

.Column {

}

.Column__Heading {
  color: blue;
  font-size: 2rem;
}