@import 'reset-css';
@import 'normalize.css';
@import 'settings/fonts'; 
@import 'settings/colors'; 
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: $font-base;
}

.navbar {
  padding: 10px;

  a {
    text-decoration: none;
  }
}

.links {
  font-size: 0.9em;
  padding-right: 9px
}

.navbar .login a {
  color: $login-color;
}

.navbar .links a {
  color: $main-text-color;
}

.login,
.links {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

  &.login {
    font-size: 0.7em;
    padding: 10px;
    gap: 20px;
  }
}

.header {
  display: flex;

  .LeftHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    font-size: 1.3em;
    gap: 15px;
    color: $main-text-color;
  }

  .Header__Links {
    display: flex;
    gap: 20px;
  }
}

.MainButton {
  width: 150px;
  height: 70px;
  border: 0.75px solid $main-text-color;
  font-family: $font-base;
  color: $main-text-color;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  font-size: 1rem;
}

.ThreeColumns {
  display: flex;
  flex-direction: row;
  background-color: #ffd52f;

  .ThreeColumns__ColumnContainer {
    flex-basis: 33%;
    text-align: center;
  }

  .Column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__Heading {
      font-size: 0.7em;
      color: $main-text-color;
      margin-bottom: 20px;
    }

    &__Number {
      font-size: 3.5em;
      color: $number-color;
      font-weight: 300;
      margin-bottom: 20px;
      margin-top: 30px
    }

    &__Para {
      font-size: 0.7em;
      color: $main-text-color;
      margin-bottom: 20px;
      width: 334px
    }
  }
}

.FourStepsContainer {
  padding: 10px;

  &__Header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    padding: 30px;
    color: $main-text-color;
    font-weight: 300;
    gap: 10px
  }

  &__Content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #F0F1F1;
    font-size: 0.7em;
    text-align: center;
    padding: 20px;
    color: $main-text-color;
  }

}

.FourStepsContainer__Button {
    display: flex;
    justify-content: center;
    padding-top:20px
}

.AboutUsContainer {
  display: flex;
  justify-content: center;
  padding: 30px 0 30px;

  .AboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #F0F1F1;
    padding: 50px
   
  }

  .AboutUsImgContainer {
    width: 50%;
  }
}

